<h3 class="text-center bold">Find your way</h3>
<div class="score_container"></div>
<div class="row">
  <div class="col-sm-6">
    {{vm.initMap}}
    <div id="mapid" class="map_container"></div>
    <p class="text-center">Trouver le point sur la carte</p>
  </div>
  <div class="col-sm-6">
    <h4>Placer le point</h4>
    <p>Appellation</p>
    <!-- appellation du point courant ici -->
    <div class="appellation_container"></div>

    <hr>

    <h4>Indices pour trouver la destination finale</h4>
    <!-- indices ajoutés ici -->
    <div class="indice_container"></div>

  </div>
</div>
