<div class="score_container" ng-bind-html="vm.score_print"></div>
<div class="row">
  <div class="col-sm-6">
    {{vm.initMap}}
    <div id="mapid" class="map_container"></div>
    <p class="text-center">Cliquer pour placer le point sur la carte</p>
  </div>
  <div class="col-sm-6">
    <!-- appellation du point courant ici -->
    <div class="appellation_container" ng-bind-html="vm.appellation_print"></div>

    <hr>
    <!-- indices ajoutés ici -->
    <div class="indice_container" ng-bind-html="vm.indices_print"></div>

  </div>
</div>
